<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <style>
        .button {
            display: inline-block;
            padding: 11px 21px;
            border-radius: 3px;
            border: none;

            color: #fff !important;
            background-color: #1e94d2;
            text-decoration: none;

            font-size: 14px;
            font-weight: normal;
            text-decoration: none;

            cursor: pointer;
        }
    </style>
</head>
<body>
	<div style="background-color: #f5f8fa">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center"
               style="max-width: 620px; padding: 0 18px">
            <tr>
                <td>

                    <div style="background-color: #fff;
                        color: #4d4d4d; font: 14px Arial, Helvetica, sans-serif;
                        padding: 20px; text-align: left; margin-top: 25px; margin-bottom: 25px">
	
						<h1>Cadastre a sua senha</h1>
						
						<p>Olá, ${userName}!</p>
						
						<p>Você foi cadastrado na plataforma da AlgaNews e agora falta só cadastrar a sua senha.</p>
						
						<p>Acesse o link abaixo:</p>
						
						<p style="text-align: center; margin: 30px 0">
							<a class="button" href="${resetUrl}">Cadastrar uma senha</a>
						</p>
						
						<p>Obrigado.</p>
						
						<p>Equipe AlgaNews</p>
						
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>